<!DOCTYPE html>
<html lang="{{ .Lang }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="{{ .Permalink }}">
    <link rel="canonical" href="{{ .Permalink }}">
    <link rel="Shortcut Icon" href="{{ .Site.BaseURL }}images/favicon.ico" type="image/x-icon" />
    <meta type="{{ .Type }}" />

    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

    {{ "<!-- combined, minified CSS -->" | safeHTML }}
    <link href="{{ .Site.BaseURL }}css/style.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;500;700&display=swap');
    </style>

  </head>

  <body>

  <section id="main-content" class="main-content" style="margin-top:20px;">
  <div class="container">
      <div class="row">

        <div class="col-sm-12 blog-main">

          <div style="float:right;">
          <a href="/"><img src="https://www.rc.virginia.edu/images/logos/uva-logo-horiz-200x50.png" alt="University of Virginia" /></a><br />
          <p style="text-align:right;font-family:'Roboto Mono', monospace;font-weight:500; font-size:120%;">Research Computing</p>
        </div>

        <div>
          <a href="/"><button class="pb">Home</button></a>
          <a href="/userinfo/systems/"><button class="pb">Get Started</button></a>
          <a href="/services/"><button class="pb">Services</button></a>
          <a href="/userinfo/"><button class="pb">User Info</button></a>
          <a href="/support/"><button class="pb">Support</button></a>
        </div>

          {{ block "main" . }}
          <!-- The part of the page that begins to differ between templates -->
          {{ end }}

        </div> {{ "<!-- /.blog-main -->" | safeHTML }}

      </div> {{ "<!-- /.row -->" | safeHTML }}
    </div> {{ "<!-- /.container -->" | safeHTML }}

  </section>
  </body>
</html>

{{- /* vim: set ts=2 sw=2 et: */}}
