baseurl = "/"
title = "Research Computing"
publishdir = "public"
languageCode = "en-us"
theme = "rc-bootstrap-v4"
copyright = " {year} "
paginate = 20
disableKinds= ["RSS","404"]
# ignoreCache = true
# date_format = "January 2, 2006"
summaryLength = 100
timeout = "60000"
ignoreErrors = ["error-remote-getjson", "error-remote-getcsv"]

[caches]
  [caches.getjson]
    dir = ":cacheDir/:project"
    maxAge = "10s"
  [caches.getcsv]
    dir = ':cacheDir/:project'
    maxAge = "10s"
    
[markup]
  [markup.tableOfContents]
    endLevel = 3
    ordered = false
    startLevel = 1
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true
      hardWraps = true
  [markup.highlight]
    codeFences = true
    guessSyntax = false
    hl_Lines = ""
    lineNoStart = 1
    lineNos = false
    lineNumbersInTable = true
    noClasses = true
    style = "manni"
    tabWidth = 4

[permalinks]
  post = "/:year/:month/:title/"

[taxonomies]
  tag = "tags"
  category = "categories"
  featured = "featured"

[params]
  subtitle = "UVA Research Computing"
  authorImage = "ec2-icon.png"
  #"single" or "multi"
  renderType = "multi"
  # "simple" or "original"
  themeStyle = "simple"
  # googleAnalytics = "UA-90358528-1"
  name = "UVA Research Computing"
  description = "Creating innovative solutions for researchers"
  pageNotFoundTitle = "404 - Page not found"
  rivannaJsonUrl = "https://s3.amazonaws.com/uvarc-resources/website/rivanna-software.json"
  # rivannaJsonUrl = "http://apidata.uvarc.io/rivanna-software.json"
  rivannaNodesUrl = "https://s3.amazonaws.com/uvarc-resources/website/nodeinfo.csv"
  # rivannaNodesUrl = "http://apidata.uvarc.io/nodeinfo.csv"
  rivannaQueueUrl = "https://s3.amazonaws.com/uvarc-resources/website/qinfo.csv"
  eventsUrl = "/static/data/events.csv"
  hszJsonUrl = "/static/data/hsz-software.json"
  # eventsUrl = "https://s3.amazonaws.com/uvarc-resources/website/events.csv"

[params.support]
  enableForms = false
  
[params.metrics]
  coreHours = "6817198"
  storage = "9.5"
  newAccounts = "94"
  userAccounts = "714"

[params.rivanna]
  totalNodes = "603"
  totalCores = "20476"
  scratchCapacity = "1.9PB"
  totalStorageCapacity = "8PB"

[params.ivy]
  totalNodes = "83"
  totalCores = "3000"
    
[params.backups]
  rivanna_home = "1-week snapshots"
  rivanna_scratch = "No backups"
  project = "daily snapshots for 1 week"
  standard = "No backups"
  zfs = "No backups"

[params.pricing]
  # Set SU / STORAGE / VM PRICES globally below:
  paidSUs = 0.01
  storageProject = 60
  storageStandard = 45
  storageZfs = 30
  storageIvy = 45
  ivyVmSmall = 999
  ivyVmMedium = 1499
  ivyVmLarge = 1999
  omero = 60

[params.sidebar]
  # Optional about block for sidebar (can be Markdown)
  about = "Enabling scientific breakthroughs at scale via advanced computing."
  # How many posts to show on the sidebar (Default: 5)
  num_recent_posts = 5

[params.sharingicons]
  # Hide the sharing icons on posts? (Default: false)
  hide = true

[mediaTypes]
  [mediaTypes.'text/plain']
    suffixes = ['aud']

[outputFormats]
  [outputFormats.AUD]
    mediaType = "text/plain"

[outputs]
  home = [ "HTML", "JSON" ]
  page = [ "HTML", "AUD" ]

[sitemap]
  changefreq = "daily"
  filename = "sitemap.xml"
  priority = 0.5
