{{ define "title" }}{{ .Title | markdownify }} | {{ .Site.Title }}{{ end }}
{{define "sidebar"}}{{ partial "sidebar-education.html" . }}{{end}}
{{ define "main" }}
{{ $dateFormat := default "January 2, 2006" (index .Site.Params "date_format") }}

<button type="button" class="btn btn-light" onclick="topFunction()" id="scrollBtn" title="Go to top"><i class="fas fa-2x fa-angle-double-up"></i></button>

<article class="blog-post">
  <header>
    <h2 class="blog-post-title"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h2>
    <hr size=1 />
  </header>

  <div class="explainer">
    {{ .Content }}
  </div>

  <hr size=1 />
  <p style="font-size:95%;" class="blog-post-meta"><time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">Updated {{ .Date.Format $dateFormat }}</time> | {{ partial "meta-terms.html" . }}</p>
</article> <!-- /.blog-post -->

{{ end }}

{{- /* vim: set ts=2 sw=2 et: */}}
