
.dc-tree {
  font: 16px sans-serif;
  position: relative;
  text-align: center;
  background-color: #f2f2f2;
  height: 100%;
  overflow: hidden;
}

.dc-tree * { box-sizing: border-box; }

.dctree-card {
  text-align: center;
  padding: 20px;
  position: absolute;
  margin: 0 auto;
  background-color: #f2f2f2;
  display: none;
}

.dctree-message {
  padding: 10px;
  margin-bottom: 50px;
  font-size: 1.5em;
}
 [class^="dctree-answer"] {
 padding: 20px;
 text-align: center;
 margin: 10px 20px;
 box-shadow: 3px 3px 5px 2px #BDBDBD;
 text-shadow: 1px 1px 2px black;
}

.red {
  background-color: red;
  color: white;
}

.green {
  background-color: green;
  color: white;
}

.orange {
  background-color: orange;
  color: white;
}
