{{ define "title" }}{{ .Title | markdownify }} | {{ .Site.Title }}{{ end }}
{{ define "sidebar" }}{{ partial "sidebar-projects.html" . }}{{ end }}
{{ define "main" }}
{{ $dateFormat := default "January 2, 2006" (index .Site.Params "date_format") }}

<article class="blog-post">
  <header>
    <h2 class="blog-post-title" style="padding-bottom:20px;"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h2>
  </header>
  
  {{ if .Params.audio }}
  <figure>
    <audio controls preload="metadata">
      <source src="https://s3.amazonaws.com/uvarc-media{{ .Page.RelPermalink }}audio.mp3" type="audio/mpeg">
    </audio>
  </figure>
  {{ end }}

  <div class="explainer">
    <!-- {{ if .Params.images }}
      <img src="{{ .Params.images }}" alt="{{ .Title }}" class="project-inset" align="right" />
    {{ end }} -->
    {{ if .Params.images }}
      <figure class="project-inset" style="float: right; margin: 0 0 10px 10px;">
        <img src="{{ .Params.images }}" alt="{{ .Title }}" class="project-inset" />
        {{ if .Params.caption }}
          <figcaption style="font-size: 0.75rem; text-align: center;">{{ .Params.caption }}</figcaption>
        {{ end }}
      </figure>
    {{ end }}

    {{ .Content }}
    
    {{ partial "publications.html" . }}
    
  </div>

  <p style="font-size:95%;" class="blog-post-meta"><time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">Updated {{ .Date.Format $dateFormat }}</time> | {{ partial "meta-terms.html" . }}</p>
</article> <!-- /.blog-post -->

{{ end }}

{{- /* vim: set ts=2 sw=2 et: */}}
