{{ define "title" }}{{ .Title | markdownify }} | {{ .Site.Title }}{{ end }}
{{ define "sidebar" }}{{ partial "sidebar-form.html" . }}{{ end }}
{{ define "main" }}
{{ $dateFormat := default "January 2, 2006" (index .Site.Params "date_format") }}

<article class="blog-post">
  <header style="display: flex; justify-content: space-between; align-items: center;">
    <h2 id="support-header" class="blog-post-title"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h2>
    <div style="display: flex; gap: 10px; margin-left: auto;">
      <a class="btn btn-success btn-primary" id="admin-button" style="display: none;" 
      href="#">Admin</a>
      <a class="btn btn-secondary" id="back-button" href="#" style="display: none;">Back to Request Form</a>

      <a class="btn btn-success btn-primary" id="resource-button" style="color:white; display: none;">Create/pdate Resource</a>
    </div>
  </header>
  <hr size=1 style="margin-bottom:0.5rem;" />
  <div id="error-message-container" style="display:none;"></div>
  {{ .Content }}

</article> <!-- /.blog-post -->

{{ end }}

{{- /* vim: set ts=2 sw=2 et: */}}
