{{ define "title" }}{{ .Title | markdownify }} | {{ .Site.Title }}{{ end }}
{{ define "sidebar" }}{{ partial "sidebar-form.html" . }}{{ end }}
{{ define "main" }}
{{ $dateFormat := default "January 2, 2006" (index .Site.Params "date_format") }}

<article class="blog-post">
  <header style="display: flex; justify-content: space-between; align-items: center;">
    <h2 id="support-header" class="blog-post-title"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h2>
    <a class="btn btn-success btn-primary" id="admin-button" style="display: none;" href="https://uvarc-unified-service.pods.uvarc.io/uvarc/api/ticket/admin/mgmt">Admin</a>
  </header>
  <hr size=1 style="margin-bottom:-1rem;" />

  {{ .Content }}

</article> <!-- /.blog-post -->

{{ end }}

{{- /* vim: set ts=2 sw=2 et: */}}
