{{ define "title" }}{{ .Title | markdownify }} | {{ .Site.Title }}{{ end }}
{{ define "main" }}
{{ $dateFormat := default "January 2, 2006" (index .Site.Params "date_format") }}

<article class="blog-post" style="width:70%;">

  <header>

    <div style="float:right;padding: 20px 0;max-width:30%;">
      <h6 style="font-size:85%;"><a href="/about/people/" style="color:blue;">&laquo; Return to People</a></h6>
    </div>
  
  {{ if (isset .Params "image") }}
    <img src="{{ .Params.image }}" alt="{{ .Title }}" class="rounded-circle" width="140" height="140">
  {{ end }}

    <h2 style="margin-bottom:2rem;"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h2>
  </header>

  <h5>{{ .Params.job_title }}</h5>
  
  {{ if (not (isset .Params "email")) | or (eq .Params.email "") }}
    <span></span>
  {{ else }}
    <div style="margin-top:2rem;">Email: <a href="mailto:{{ .Params.email }}" style="font-weight:bold;">{{ .Params.email }}</a></div>
  {{ end }}

  <hr size=1 />

  {{ .Content }}

  <hr size=1 />

  {{ $subjects := .Params.subjects }}
  {{ range $subjects }}
    <a style="text-decoration:none;" href="/tags/{{ . }}"><button class="btn btn-outline-danger btn-sm">{{ . }}</button></a>
  {{ end }}

</article> <!-- /.blog-post -->

{{ end }}

{{- /* vim: set ts=2 sw=2 et: */}}
