{{ define "title" }}{{ .Title | markdownify }} | {{ .Site.Title }}{{ end }}
{{ define "col-width" }} <div class="col-sm-12 blog-main" style=""> {{ end }}
{{ define "sidebar }}{{ end }}
{{ define "main" }}
{{ $dateFormat := default "January 2, 2006" (index .Site.Params "date_format") }}


<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-6">
    <article class="blog-post" class="">

  <header>

    <div style="float:right;padding: 20px 0;max-width:30%;">
      <h6 style="font-size:85%;"><a href="/about/people/" style="color:blue;">&laquo; Return to People</a></h6>
    </div>
  
  {{ if (isset .Params "image") }}
    <img src="{{ .Params.image }}" alt="{{ title .Title }}" class="rounded-circle" width="140" height="140">
  {{ end }}

    <h2 style="margin-bottom:2rem;"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h2>
  </header>

  <h5>{{ title .Params.job_title }}</h5>
  
  {{ if (not (isset .Params "email")) | or (eq .Params.email "") }}
    <span></span>
  {{ else }}
    <div style="margin-top:2rem;"><i class="fas fa-envelope"></i> <a target="_new" href="mailto:{{ .Params.email }}" style="padding-left:0.5rem;">{{ .Params.email }}</a></div>
  {{ end }}

  {{ if (not (isset .Params "github")) | or (eq .Params.github "") }}
    <span></span>
  {{ else }}
    <div style="margin-top:0.4rem;"><i class="fab fa-github"></i> <a target="_new" href="https://github.com/{{ .Params.github }}" style="padding-left:0.5rem;">https://github.com/{{ .Params.github }}</a></div>
  {{ end }}

  {{ if (not (isset .Params "gscholar")) | or (eq .Params.gscholar "") }}
    <span></span>
  {{ else }}
    <div style="margin-top:0.4rem;"><i class="fab fa-google"></i> <a target="_new" href="https://scholar.google.com/citations?user={{ .Params.gscholar }}" style="padding-left:0.5rem;">Google Scholar</a></div>
  {{ end }}

  <hr size=1 />

  {{ .Content }}

  {{ $subjects := .Params.subjects }}
  {{ range $subjects }}
    <a style="text-decoration:none;" href="/tags/{{ . }}"><button class="btn btn-outline-danger btn-sm">{{ . }}</button></a>
  {{ end }}

    </article> <!-- /.blog-post -->
    </div>
  </div>
</div>

{{ end }}

{{- /* vim: set ts=2 sw=2 et: */}}
