<!DOCTYPE html>
<html lang="{{ .Lang }}">
  <head>
    {{ partial "head-meta.html" . }}

    <base href="{{ .Permalink }}">
    <link rel="canonical" href="{{ .Permalink }}">
    <link rel="Shortcut Icon" href="{{ .Site.BaseURL }}images/favicon.ico" type="image/x-icon" />
    <meta type="{{ .Type }}" />

    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

    {{ partial "head-custom.html" . }}

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script>
    
    function getParams() {
      var vars = {};
      var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
        vars[key] = value;
      });
      return vars;
    }
    
    function decode64(str) {
      var e={},i,b=0,c,x,l=0,a,r='',w=String.fromCharCode,L=str.length;
      var A="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/";
      for(i=0;i<64;i++){e[A.charAt(i)]=i;}
      for(x=0;x<L;x++){
        c=e[str.charAt(x)];b=(b<<6)+c;l+=6;
        while(l>=8){((a=(b>>>(l-=8))&0xff)||(x<(L-2)))&&(r+=w(a));}
      }
      return r;
    };

    // parameters
    let name = decodeURI(getParams()["name"]);
    let uid = decodeURI(getParams()["uid"]);
    let email = decodeURI(getParams()["email"]);
    let form = decodeURI(getParams()["form"]);

    if (Cookies.get('__rc_uid') == null || Cookies.get('__rc_uid') == 'Undefined') {
      window.location.replace( "https://auth.uvasomrc.io/site/set-session.php?form=" + form);
      // alert("COOKIE NOT FOUND!")
    }
    
    // var cookie_string = "name=" + name + ";uid=" + uid + ";email=" + email;
    Cookies.set('__rc_email', email, { expires: 7, domain: '.rc.virginia.edu' })
    Cookies.set('__rc_uid', uid, { expires: 7, domain: '.rc.virginia.edu' })
    Cookies.set('__rc_name', name, { expires: 7, domain: '.rc.virginia.edu' })
    </script>

  </head>

  <body>

Set Session Here

  </body>
</html>

{{- /* vim: set ts=2 sw=2 et: */}}
