{{ define "title" }}{{ .Title | markdownify }} | {{ .Site.Title }}{{ end }}
{{ define "col-width" }} <div class="col-sm-12 blog-main" style=""> {{ end }}
{{ define "sidebar" }}<div></div>{{ end }}
{{ define "head-extra" }}<style>
    pre code {
      background-color:#f6f6f6;
    }
  </style>{{end}}
{{ define "main" }}
{{ $dateFormat := default "January 2, 2006" (index .Site.Params "date_format") }}

<button type="button" class="btn btn-light" onclick="topFunction()" id="scrollBtn" title="Go to top"><i class="fas fa-2x fa-angle-double-up"></i></button>

<article class="blog-post">
  <header>
    <h2 class="blog-post-title"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h2>
    <hr size=1 />
<!--    <p class="blog-post-meta"><time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format $dateFormat }}</time> by {{ .Params.author | default .Site.Params.author }}{{ if or (.Params.categories) (.Params.tags) }} in {{ partial "meta-terms.html" . }}{{ end }}</p> -->
  </header>

  <div class="explainer">
    {{ .Content }}
  </div>

</article> <!-- /.blog-post -->

{{ end }}

{{- /* vim: set ts=2 sw=2 et: */}}
