<!DOCTYPE html>
<html lang="{{ .Lang }}">

  <head>
    {{ partial "head-meta.html" . }}

    <base href="{{ .Permalink }}">
    <link rel="canonical" href="{{ .Permalink }}">
    <link rel="Shortcut Icon" href="{{ .Site.BaseURL }}images/favicon.ico" type="image/x-icon" />
    <meta type="{{ .Type }}" />

    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

    {{ "<!-- combined, minified CSS -->" | safeHTML }}
    <link href="{{ .Site.BaseURL }}/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    {{ partial "head-custom.html" . }}
  </head>

  <body>

    {{ partial "menu-home.html" . }}

    {{ partial "site-header.html" . }}
	
	<section id="main-content" class="main-content">

    <div class="container">
      <div class="row">
        <div class="col-sm-9 blog-main">

<!-- BEGIN CATEGORY CLOUD -->
<section id="main">
  <div>
    <h1 id="title"><i class="fa fa-folder-open" aria-hidden="true"></i> {{ .Title }}</h1>

    <p style="line-height: 300%;">
      {{ $ty := "categories" }}
      {{ $terms := index .Site.Taxonomies $ty }}
      {{ range $key, $valye := $terms }}
        <a style="font-weight:bold;" href="/categories/{{ $key | urlize }}"><button class="btn btn-outline-danger">{{ $key }}</button></a>
      {{ end }}
    </p>

  </div>
</section>
<!-- END CAT CLOUD -->

        </div> {{ "<!-- /.blog-main -->" | safeHTML }}

        {{ partial "sidebar.html" . }}

      </div> {{ "<!-- /.row -->" | safeHTML }}
    </div> {{ "<!-- /.container -->" | safeHTML }}

	</section>
	
    {{ partial "footer.html" . }}

  </body>

</html>

{{- /* vim: set ts=2 sw=2 et: */}}
