<table class="table" style="margin-top:2rem;">
  <thead class="thead-dark" style="">
    <tr>
      <th scope="col">Type</th>
      <th scope="col">SU Limits</th>
      <th scope="col">Cost</th>
      <th scope="col">Cost (effective {{$.Site.Params.pricing.paidSUs.internal.future.date}})</th>
      <th scope="col">SU Lifetime</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><a href="/userinfo/rivanna/allocations/#standard-allocations">Standard</a></th>
      <td>None</td>
      <td>Free</td>
      <td>Free</td>
      <td>12 months</td>
    </tr>
    <tr>
      <th scope="row"><a href="/userinfo/rivanna/allocations/#allocation-purchases">Purchased</a></th>
      <td>None</td>
      <td>{{$.Site.Params.pricing.paidSUs.internal.current.price}}</td>
      <td>{{$.Site.Params.pricing.paidSUs.internal.future.price}}</td>
      <td>Forever</td>
    </tr>
    <tr>
      <th scope="row"><a href="/userinfo/rivanna/allocations/#instructional-allocations">Instructional</a></th>
      <td>100,000</td>
      <td>Free</td>
      <td>Free</td>
      <td>2 weeks after last teaching session</td>
    </tr>
    <tr>
      <td style="font-style:italic;" colspan="4">
        ** Non-UVA personnel are charged at a rate of {{$.Site.Params.pricing.paidSUs.external.current.price}}/SU
      </td>
    </tr>
  </tbody>
</table>

