<table class="table" style="margin-top:2rem;">
  <thead>
    <tr>
      <th scope="col">Type</th>
      <th scope="col">SU Limits</th>
      <th scope="col">Cost</th>
      <th scope="col">SU Lifetime</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Standard</th>
      <td>100,000 per application; renewable up to 3x per year (400,000 total SUs)</td>
      <td>Free</td>
      <td>12 months</td>
    </tr>
    <tr>
      <th scope="row">Deans' Allocations</th>
      <td>None</td>
      <td>Free</td>
      <td>12 months by default, negotiable</td>
    </tr>
    <tr>
      <th scope="row">Purchased</th>
      <td>None</td>
      <td>$0.015 (<1M SUs); $0.01 (>=1M SUs)</td>
      <td>Forever</td>
    </tr>
    <tr>
      <th scope="row">Instructional</th>
      <td>25,000</td>
      <td>Free</td>
      <td>2 weeks after last teaching session</td>
    </tr>
    <tr>
      <td style="font-style:italic;" colspan="4">* Please note that GPU jobs use twice the rate of SUs<br />
        ** Non-UVA personnel are charged at a rate of $0.07/SU
      </td>
    </tr>
  </tbody>
</table>

