<div style="width:100%:height:6px;background-color:#ccc;"></div>
<hr size=1 />
  <div class="row">
    <div class="col form-group">
      <label class="control-label" for="exampleInputEmail1">Cost Center</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
      <small id="emailHelp" class="form-text text-muted">Enter your FDM Cost Center</small>
    </div>
    <div class="col form-group">
      <label class="control-label" for="exampleInputEmail1">Business Unit</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text text-muted">Enter your FDM Business Unit</small>
    </div>
  </div>
  <div class="row">
    <div class="col form-group">
      <label class="control-label" for="exampleInputEmail1">Assignee / Business Contact</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
      <small id="emailHelp" class="form-text text-muted">Enter a business contact from your group</small>
    </div>
  </div>

<!-- TYPE OPTIONS -->
  <hr size=1 />
  <div class="row">
  <div class="col form-item form-group form-item form-type-radios form-group"> 
    <label class="control-label" for="storage-options">Type <span class="form-required" title="This field is required.">*</span></label>
    <div id="storage-options" class="form-radios">
      <div class="form-item form-type-radio radio">
        <input required="required" type="radio" id="storage-choice1" name="storage-choice" value="Research Project" class="form-radio" />
        &nbsp; Project
      </div>
      <div class="form-item form-type-radio radio">
        <input required="required" type="radio" id="storage-choice1" name="storage-choice" value="Research Project" class="form-radio" />
        &nbsp; Gift
      </div>
      <div class="form-item form-type-radio radio">
        <input required="required" type="radio" id="storage-choice3" name="storage-choice" value="Research Standard" class="form-radio" />
        &nbsp; Grant
      </div>
      <div class="form-item form-type-radio radio">
        <input required="required" type="radio" id="storage-choice2" name="storage-choice" value="ivy" class="form-radio" />
        &nbsp; Designated
      </div>
    </div>
  </div>
  </div>

<!-- NEW FDM FIELDS -->
<hr size=1 />
<label class="control-label" for="billing-fields">FDM Billing Information</label>
  <div class="row">
    <div class="col form-item form-type-textarea form-group">
      Fund
      <input class="form-control form-text required" type="text" id="ptao1" name="ptao1" value="" size="10" maxlength="10" />
    </div>
    <div class="col form-item form-type-textarea form-group">
      Function
      <input class="form-control form-text required" type="text" id="ptao2" name="ptao2" value="" size="10" maxlength="10" />
    </div>
    <div class="col form-item form-type-textarea form-group">
      Program
      <input class="form-control form-text required" type="text" id="ptao3" name="ptao3" value="" size="10" maxlength="10" />
    </div>
    <div class="col form-item form-type-textarea form-group">
      Internal Reference
      <input class="form-control form-text required" type="text" id="ptao4" name="ptao4" value="" size="20" maxlength="20" />
    </div>
  </div>  
  <div class="row">
    <div class="col form-item form-type-textarea form-group">
      Activity
      <input class="form-control form-text required" type="text" id="ptao1" name="ptao1" value="" size="10" maxlength="10" />
    </div>
    <div class="col form-item form-type-textarea form-group">
      Loan
      <input class="form-control form-text required" type="text" id="ptao2" name="ptao2" value="" size="10" maxlength="10" />
    </div>
    <div class="col form-item form-type-textarea form-group">
      Location
      <input class="form-control form-text required" type="text" id="ptao3" name="ptao3" value="" size="10" maxlength="10" />
    </div>
    <div class="col form-item form-type-textarea form-group">
    </div>
  </div>  
<hr size=1 />

