<div class="col-sm-6" style="margin-bottom:16px;">
<div style="border: solid 1px #ccc;padding:4px;margin: 0 auto;">
  {{ $track := .Get 0 }}
  {{ $url := "https://education.cadre.virginia.edu/api/track/" }}
  {{ $fullUrl := ( printf "%s%s" $url $track ) }}
  {{ $trackInfo := getJSON $fullUrl }}
  <a href="https://education.cadre.virginia.edu/#/track/{{ $track }}" target="_new"><img src="{{ $trackInfo._links.image }}" alt="foo" style="margin-top:0px;width:100%" /></a>
  <div style="padding:10px;padding-bottom:0px;">
      <p style="font-size:1.4rem;font-weight:bold;">Learn More: {{ $trackInfo.title }}</p>
      <p style="font-size:0.9rem;">Attend a free workshop and learn more about {{ $trackInfo.title }}. Visit the <a href="https://education.cadre.virginia.edu/#/track/{{ $track }}" target="_new">CADRE Education Portal</a>.</p>
  </div>
</div>
</div>

<br clear=all />
