  <div class="row">
    <div class="col-xs-4 col-md-4 form-item form-group form-item-submitted-name form-type-textfield"> 
      <label class="control-label" for="name">Name</label>
      <input required="required" class="form-control form-text required" type="text" id="name" name="name" value="" size="60" maxlength="128" readonly />
    </div>
    <div class="col-xs-4 col-md-4 form-item form-group form-item form-item-submitted-e-mail form-type-webform-email form-group"> 
      <label class="control-label" for="email">Email</label>
      <input required="required" class="email form-control form-text form-email required" type="email" id="email" name="email" value="" size="60" readonly />
    </div>
    <div class="col-xs-2 col-md-2 form-item form-type-textfield form-group">
      <label class="control-label" for="uid">User ID </label>
      <input required="required" class="form-control form-text required" type="text" id="uid" name="uid" value="" size="20" maxlength="20" readonly />
    </div>  
    <div class="col-xs-1" style="position:relative;">
      <div class="" style="position:absolute;bottom:1.4rem;padding-left:0.6rem;">
        <a style="font-size:80%;text-decoration:none;color:black;" href="https://auth.rc.virginia.edu/"><i class="fas fa-sync-alt" style="text-decoration:none;color:black;"></i></a>
      </div>
    </div>
  </div>
  <div class="form-group" style="margin-bottom:3rem;">
    <label class="control-label" for="department">Department / Organization *</label>
    <select required="required" class="dropdown form-control form-select required" id="department" name="department" style="width:90%;">
      <option value="" selected="selected">- Select -</option>
      <option value="AS-Chemistry (CHEM)">AS-Chemistry (CHEM)</option>
      <option value="EN-Biomed Engr Dept">EN-Biomedical Engineering Dept</option>
      <option value="EN-Chem Engr Dept">EN-Chemical Engineering Dept</option>
      <option value="EN-Comp Science Dept">EN-Computer Science Dept</option>
      <option value="EN-Engineering and Society">EN-Engineering and Society</option>
      <option value="EN-Engr Sys & Environment">EN-Engineering Systems & Environment</option>
      <option value="EN-Mat Sci & Engr Dept">EN-Materials Science & Engineering Dept</option>
      <option value="EN-Mech & Aero Engr Dept">EN-Mechanical & Aerospace Engineering Dept</option>
      <option value="DS-Deans Office">DS-Data Science</option>
      <option value="RS-Research Computing">RS-Research Computing</option>
      <option value="Other">Other</option>
    </select>
  </div>

