<div style="border:solid 1px #ccc;padding:1.4rem;background-color: #efefef; margin-bottom:2rem;">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 form-item form-group form-item-submitted-name form-type-textfield"> 
      <label class="control-label" for="name">Name</label>
      <input required="required" class="form-control form-text required" type="text" id="name" name="name" value="" size="60" maxlength="128" style="background-color:#F8FAFB;" readonly />
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 form-item form-group form-item form-item-submitted-e-mail form-type-webform-email form-group"> 
      <label class="control-label" for="email">Email</label>
      <input required="required" class="email form-control form-text form-email required" type="email" id="email" name="email" value="" size="60" style="background-color:#F8FAFB;" readonly />
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 form-item form-type-textfield form-group">
      <label class="control-label" for="uid">User ID &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a style="font-weight:bold;font-size:80%;text-decoration:none;color:green;" href="https://auth.rc.virginia.edu/"><i class="fas fa-sync-alt"></i> REFRESH</a></label>
      <input required="required" class="form-control form-text required" type="text" id="uid" name="uid" value="" maxlength="20" style="background-color:#F8FAFB;" readonly />
    </div>  
  </div>
  <div class="row" id = "departmet_clasification_row" style="margin-bottom:0rem;">
    <div class="form-group col-xs-12 col-sm-12 col-md-6">
      <label class="control-label" for="department">Department/Group *</label>
      <select required="required" class="form-group dropdown form-control form-select required" id="department" name="department" style="margin-bottom:0.5rem;">
        <option value="" selected="selected">- Select -</option>
      </select>
    </div>
    <div class="form-group col-xs-12 col-sm-12 col-md-6">
      <label class="control-label" for="classification">Classification *</label>
      <select required="required" class="form-control form-select required" title="Please identify your role within this unit" data-toggle="tooltip" id="classification" name="classification">
        <option value="" selected="selected">- Select -</option>
        <option value="Faculty">Faculty</option>
        <option value="Staff">Staff</option>
        <option value="Postdoctoral Associate">Postdoctoral Associate</option>
        <option value="Student">Student</option>
        <option value="Other">Other</option>
      </select>
    </div>
  </div>
  <div class="row" id  = "discipline_row" style="margin-bottom:0rem;">
    <div class="form-item form-type-select form-group col-xs-12 col-sm-12 col-md-6"> 
      <label class="control-label" for="discipline">Academic Discipline <span class="form-required" title="This field is required.">*</span></label>
      <select required="required" class="form-control form-select required" title="Please identify the academic discipline related to this allocation" data-toggle="tooltip" id="discipline" name="discipline">
        <option value="" selected="selected">- Select -</option>
        <option value="Astronomy">Astronomy</option>
        <option value="Biochemistry">Biochemistry</option>
        <option value="Bioinformatics">Bioinformatics</option>
        <option value="Biology">Biology</option>
        <option value="Chemistry">Chemistry</option>
        <option value="Commerce">Commerce</option>
        <option value="Computer Science">Computer Science</option>
        <option value="Data Science">Data Science</option>
        <option value="Economics">Economics</option>
        <option value="Environmental Science">Environmental Science</option>
        <option value="Engineering">Engineering</option>
        <option value="Health Sciences">Health Sciences</option>
        <option value="Informatics">Informatics</option>
        <option value="Physics">Physics</option>
        <option value="Social Sciences">Social Sciences</option>
        <option value="Other">Other</option>
      </select>
    </div>
    <div class="form-item form-type-textfield form-group col-xs-12 col-sm-12 col-md-6"> 
      <label class="control-label" for="discipline-other" id="discipline-other-label" style="margin-bottom:0.2rem;">Other Academic Discipline </label>
      <input class="form-control form-text" type="text" id="discipline-other" name="discipline-other" value="" size="60" maxlength="60" />
    </div>
  </div>
  <input style="display:none;" type="text" id="school" name="school" />
</div>
