  <div class="row">
    <div class="col-xs-4 col-md-4 form-item form-group form-item-submitted-name form-type-textfield"> 
      <label class="control-label" for="name">Name</label>
      <input required="required" class="form-control form-text required" type="text" id="name" name="name" value="" size="60" maxlength="128" readonly />
    </div>
    <div class="col-xs-4 col-md-4 form-item form-group form-item form-item-submitted-e-mail form-type-webform-email form-group"> 
      <label class="control-label" for="email">Email</label>
      <input required="required" class="email form-control form-text form-email required" type="email" id="email" name="email" value="" size="60" readonly />
    </div>
    <div class="col-xs-2 col-md-2 form-item form-type-textfield form-group">
      <label class="control-label" for="uid">User ID </label>
      <input required="required" class="form-control form-text required" type="text" id="uid" name="uid" value="" size="20" maxlength="20" readonly />
    </div>  
    <div class="col-xs-1" style="position:relative;">
      <div class="" style="position:absolute;bottom:1.4rem;padding-left:0.6rem;">
        <a style="font-size:80%;text-decoration:none;color:black;" href="https://auth.rc.virginia.edu/"><i class="fas fa-sync-alt" style="text-decoration:none;color:black;"></i></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-8 col-md-8 " style="margin-bottom:3rem;">
      <label class="control-label" for="department">Department/Group *</label>
      <select required="required" class="dropdown form-control form-select required" id="department" name="department" style="width:90%;">
        <option value="" selected="selected">- Select -</option>
        <option value="AS-Astronomy (ASTR)">AS-Astronomy (ASTR)</option>
        <option value="AS-Biology (BIOL)">AS-Biology (BIOL)</option>
        <option value="AS-Chemistry (CHEM)">AS-Chemistry (CHEM)</option>
        <option value="AS-Economics (ECON)">AS-Economics (ECON)</option>
        <option value="AS-Environmental Sciences (ENVS)">AS-Environmental Sciences (ENVS)</option>
        <option value="AS-History">AS-History</option>
        <option value="AS-Mathematics">AS-Mathematics</option>
        <option value="AS-Physics">AS-Physics</option>
        <option value="AS-Dept of Politics">AS-Dept of Politics</option>
        <option value="AS-Psychology (PSYC)">AS-Psychology (PSYC)</option>
        <option value="AS-Sociology (SOCI)">AS-Sociology (SOCI)</option>
        <option value="AS-Statistics">AS-Statistics</option>
        <option value="BA-Frank Batten School">BA-Frank Batten School</option>
        <option value="DA-Academic Operations">DA-Darden School of Business</option>
        <option value="DS-Deans Office">DS-Data Science (Dean)</option>
        <option value="Data Science">DS-Data Science</option>
        <option value="ED-CISE Department">ED-CISE Curriculum Instruction</option>
        <option value="ED-EDHS Department">ED-EDHS Human Services</option>
        <option value="ED-EDLF Department">ED-EDLF Leadership Foundations</option>
        <option value="ED-EPW">ED-EdPolicyWorks</option>
        <option value="ED-KINE Department">ED-KINE Kinesiology</option>
        <option value="EN-Biomed Engr Dept">EN-Biomedical Engineering Dept</option>
        <option value="EN-Chem Engr Dept">EN-Chemical Engineering Dept</option>
        <option value="EN-Comp Science Dept">EN-Computer Science Dept</option>
        <option value="EN-Engineering and Society">EN-Engineering and Society</option>
        <option value="EN-Engr Sys & Environment">EN-Engineering Systems & Environment</option>
        <option value="EN-Mat Sci & Engr Dept">EN-Materials Science & Engineering Dept</option>
        <option value="EN-Mech & Aero Engr Dept">EN-Mechanical & Aerospace Engineering Dept</option>
        <option value="LW-Default">LW-Law School</option>
        <option value="MD-BEIR Ctr-Beirne Carter">MD-BEIR Ctr-Beirne Carter</option>
        <option value="MD-BIOC Biochem/Mole Genetics">MD-BIOC Biochem/Mole Genetics</option>
        <option value="MD-BIOM Biomedical Eng">MD-BIOM Biomedical Eng</option>
        <option value="MD-CANC Cancer Center">MD-CANC Cancer Center</option>
        <option value="MD-CELL Cell Biology">MD-CELL Cell Biology</option>
        <option value="MD-CDBT Ctr for Diabetes Tech">MD-CDBT Ctr for Diabetes Tech</option>
        <option value="MD-CMCP Ctr for Membrane & Cell Ph">MD-CMCP Ctr for Membrane & Cell Ph</option>
        <option value="MD-CPHG Ctr for Public Health Genomics">MD-CPHG Ctr for Public Health Genomics</option>
        <option value="MD-CVRC Ctr/CV Research">MD-CVRC Ctr/CV Research</option>
        <option value="MD-MICR Microbiology">MD-MICR Microbiology</option>
        <option value="MD-MPHY Mole Phys & Biophysics">MD-MPHY Mole Phys & Biophysics</option>
        <option value="MD-NESC Neuroscience">MD-NESC Neuroscience</option>
        <option value="MD-PHAR Pharmacology">MD-PHAR Pharmacology</option>
        <option value="MD-PBHS Public Health Sciences Admin">MD-PBHS Public Health Sciences Admin</option>
        <option value="PV-Biocomplexity Initiative">PV-Biocomplexity Initiative</option>
        <option value="RS-Research Computing">RS-Research Computing</option>
        <option value="RS-Research Development">RS-Research Development</option>
        <option value="Other">Other</option>
      </select>
    </div>
    <div class="form-group col-xs-3 col-md-3 " style="margin-bottom:3rem;">
      <label class="control-label" for="school">School/Org *</label>
      <input class="form-control form-text" type="text" id="school" name="school" value="" size="12" maxlength="20" readonly />
    </div>
  </div>