  <div class="row">
    <div class="col form-item form-group form-item form-item-submitted-name form-type-textfield form-group"> 
      <label class="control-label" for="name">Name <span class="form-required" title="This field is required.">*</span></label>
      <input required="required" class="form-control form-text required" type="text" id="name" name="name" value="" size="60" maxlength="128" readonly />
      <input class="form-control form-text required" type="hidden" id="category" name="category" value="Storage">
    </div>
    <div class="col form-item form-group form-item form-item-submitted-e-mail form-type-webform-email form-group"> 
      <label class="control-label" for="email">E-mail <span class="form-required" title="This field is required.">*</span></label>
      <input required="required" class="email form-control form-text form-email required" type="email" id="email" name="email" value="" size="60" readonly />
    </div>
    <div class="col form-item form-group form-item form-item-submitted-computing-id form-type-textfield form-group"> <label class="control-label" for="uid">Computing ID <span class="form-required" title="This field is required.">*</span></label>
      <input required="required" class="form-control form-text required" type="text" id="uid" name="uid" value="" size="20" maxlength="20" readonly />
    </div>
  </div>
