{{ $msgtype := default "all" (.Get "type") }}
{{- $gistJ := getJSON "https://tja4lfp3da.execute-api.us-east-1.amazonaws.com/api/messages" -}}
{{- range $gistJ -}}
   {{- range $key,$values := . -}}
       {{- if eq $key "body" -}} 
           {{- range split ($values | markdownify) "<br>" -}}
               {{- if eq $msgtype "all" -}}
                   {{ . | markdownify }}
               {{- else if in . $msgtype -}}
                   {{ . | markdownify }}
               {{- end -}} 

           {{- end -}}
       {{- end -}}
   {{- end -}}
{{- end -}}