<div style="border: solid 1px #ccc; padding:1rem; background-color:#FADADD; font-size:90%;  color:black !important;" class="form-text text-muted">
If you do not have an existing Grouper/MyGroup group for an allocation, the project PI must request one (40 characters max) <a href="https://in.virginia.edu/how-to-request-group" target="_new">through this link</a>. 
To expedite the account creation, we recommend that you specify “This group will be used for Rivanna/Afton access” in the description section of the webform. You must also add yourself as a member of the group. Otherwise, we will not be able to process this request.
</div>
