<div style="width:100%;">
  <div class="row">
    <div class="col-sm">
<iframe 
src="https://grafana.pods.uvarc.io/d-solo/k8s_views_global/kubernetes-views-global?orgId=1&refresh=30s&theme=light&panelId=63" 
width="100%" height="120" frameborder="0"></iframe>
    </div>
    <div class="col-sm">
<iframe 
src="https://grafana.pods.uvarc.io/d-solo/k8s_views_global/kubernetes-views-global?orgId=1&refresh=30s&theme=light&panelId=59" 
width="100%" height="120" frameborder="0"></iframe>
    </div>
    <div class="col-sm">
<iframe 
src="https://grafana.pods.uvarc.io/d-solo/k8s_views_global/kubernetes-views-global?orgId=1&refresh=30s&theme=light&panelId=62" 
width="100%" height="120" frameborder="0"></iframe>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
<iframe 
src="https://grafana.pods.uvarc.io/d-solo/k8s_views_global/kubernetes-views-global?orgId=1&refresh=30s&theme=light&panelId=37" 
width="100%" height="120" frameborder="0"></iframe>
    </div>
    <div class="col-sm">
<iframe 
src="https://grafana.pods.uvarc.io/d-solo/k8s_views_global/kubernetes-views-global?orgId=1&refresh=30s&theme=light&panelId=39" 
width="100%" height="120" frameborder="0"></iframe>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
<iframe 
src="https://grafana.pods.uvarc.io/d-solo/k8s_views_global/kubernetes-views-global?orgId=1&refresh=30s&theme=light&panelId=52&from=now-24h&to=now" 
width="100%" height="400" frameborder="0"></iframe>  
    </div>
  </div>
</div>
