<script>
    function getToolchain(parent) {
        return parent
    }
</script>


<table class="table table-striped" id="versionTable">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Version</th>
      <th scope="col">Module Load Command</th>
    </tr>
  </thead>
  <tbody>
  {{ $urlPre := "http://apidata.uvarc.io" }}
  {{ $gistJ := getJSON $urlPre "/rivanna-software.json" }}
  {{ range $gistJ }}
     {{ if eq (.package) $.Page.Params.modulename }}
        {{ range sort .versions "full" "asc" }}
           <tr>
               <td>{{ delimit (last 1 (split .full "/")) "" }}</td>
               <td>
                 {{ "module load" }}
                 {{ $trunc := split (index (split .path .full) 0) "/" }}
                 {{ if gt (len $trunc) 6 }}
                     {{ delimit (slice (index $trunc 5) (index $trunc 6)) "/" }}
                     {{ if gt (len $trunc) 8 }}
                         {{ delimit (slice (index $trunc 7) (index $trunc 8)) "/" }}
                     {{ end }}
                 {{ end }}
                 {{ .full }}
               </td>
           </tr>
        {{ end }}
      {{ end }}
  {{ end }}
  </tbody>
</table>
