{{- $showmname := true -}}
{{- with (.Get "showmname") -}}
    {{- $showmname := (eq "true" .) -}}
{{- end -}}
{{- $module := default $.Page.Params.modulename (.Get "module") -}}
<table class="table table-striped" id="versionTable">
  <thead class="thead-dark">
    <tr>
      {{- if $showmname -}}
          <th>Module</th>
      {{- end -}}
      <th>Version</th>
      <th>Module Load Command</th>
    </tr>
  </thead>
  <tbody>
  {{- with resources.GetRemote .Site.Params.rivannaJsonUrl -}}
    {{- $gistJ := .Content | transform.Unmarshal -}}
    {{- range $modulename,$items := $gistJ -}}
      {{- if eq $module $modulename -}}
          {{- range $items -}}
            <tr>
                {{- if $showmname -}}
                    <td> {{ $modulename }}</td>
                {{- end -}}
                <td>{{ .Version }}</td>
                <td>
                  {{- "module load " -}}
                  {{- range .parentAA -}}
                      {{- delimit . " " -}}
                  {{- end -}}
                  {{ printf " %s/%s" $modulename .Version }}
                </td>
            </tr>
          {{- end -}}
        {{- end -}}
    {{- end -}}
  {{- end -}}
  </tbody>
</table>
