<div style="width:100%;">
    <table class="table table-hover table-striped" style="width:100%;table-layout:fixed;">
        <thead class="thead-inverse">
            <tr>
                <th scope="row">DATE RELEASED</th>
                <th style="width:50%;text-align:left;">  TUTORIAL </th>
                <th>CREATORS</th>
            </tr>
        </thead>
        {{- $url := $.Site.Params.newTutorialsUrl -}} <!-- Change to the new-tutorials.csv URL -->
        {{- $sep := "," -}}
        {{- $csv := getCSV $sep $url -}}
        {{- if (gt (len $csv) 1) -}} <!-- Ensure there is more than just the header row -->
            <tbody>
                {{- range $i, $r := $csv -}}
                    {{- if gt $i 0 -}} <!-- Skip the first line -->
                        {{- $title := index $r 0 -}}
                        {{- $release_date := replace (index $r 1) "/" "-" -}}
                        {{- $link := index $r 2 -}}
                        {{- $creators := index $r 3 -}}
                        <tr>
                            <td>{{ $release_date }}</td>
                            {{- if ne $link "" -}}
                                <td><a href="{{ $link }}" target="_blank">{{ $title }}</a></td>
                            {{- else -}}
                                <td>{{ $title }}</td>
                            {{- end -}}
                            <td>{{ $creators }}</td>
                        </tr>
                    {{- end -}}
                {{- end -}}
            </tbody>
        {{- else -}}
            <tbody>
                <tr>
                    <td colspan="3">There are currently no tutorials available. Please check back soon!</td>
                </tr>
            </tbody>
        {{- end -}}
    </table>
</div>
<div style="width:100%;height:2rem;"></div> 
