<div style="width:100%;">

<table class="table table-hover table-striped" style="width: 100%; table-layout: fixed;">
  <thead class="thead-inverse">
    <tr>
      <th scope="row">DATE</th>
      <th style="text-align:left;">TIME</th>
      <th>LOCATION</th>
    </tr>
  </thead>
  <tbody>

    {{ $url := "office-hours-grid.csv" }}
    {{ $sep := "," }}
    {{ range $i, $r := getCSV $sep $url }}
      <tr>
        <td>{{ index $r 0 }}</td>
        <td>10AM-12PM</td>
        <td>{{ index $r 1 }}</td>
      </tr>
    {{ end }}

  </tbody>
</table>
</div>
