<style>
.rotate {
  font-size:80%;
  text-align:left;
  padding:auto;
}
.queue {
  text-align:right;
}
</style>
<table class="table" style="font-weight:normal;">
  <thead class="thead-dark">
    <tr>
      <th class="rotate" scope="col">Partition</th>
      <th class="rotate" scope="col">Max time / job</th>
      <th class="rotate" scope="col">Max nodes / job</th>
      <th class="rotate" scope="col">Max cores / job</th>
      <th class="rotate" scope="col">Max cores / node</th>
      <th class="rotate" scope="col">Default memory / core</th>
      <th class="rotate" scope="col">Max memory / node / job</th>
      <th class="rotate" scope="col">SU Charge Rate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="queue" scope="row"><code><a href="/userinfo/rivanna/slurm/#basic-serial-program">standard</a></code></td>
      <td>7 days</td>
      <td scope="row">1</td>
      <td scope="row">37</td>
      <td scope="row">37</td>
      <td scope="row">9GB</td>
      <td scope="row">750GB</td>
      <td scope="row">1.00</td>
    </tr>
    <tr>
      <td class="queue" scope="row"><code><a href="/userinfo/rivanna/slurm/#job-scripts-for-parallel-programs">parallel</a></code></td>
      <td scope="row">3 days</td>
      <td scope="row">50</td>
      <td scope="row">1850</td>
      <td scope="row">37</td>
      <td scope="row">9GB</td>
      <td scope="row">375GB</td>
      <td scope="row">1.00</td>
    </tr>
    <tr>
      <td class="queue" scope="row"><code>largemem</code></td>
      <td scope="row">4&nbsp;days</td>
      <td scope="row">2</td>
      <td scope="row">32</td>
      <td scope="row">45</td>
      <td scope="row">60GB</td>
      <td scope="row">1464GB</td>
      <td scope="row">1.00</td>
    </tr>
    <tr>
      <td class="queue" scope="row"><code><a href="/userinfo/rivanna/slurm/#gpu-intensive-computation">gpu</a></code></td>
      <td scope="row">3 days</td>
      <td scope="row">4</td>
      <td scope="row">32GPUs</td>
      <td scope="row">125</td>
      <td scope="row">6GB</td>
      <td scope="row">1953GB</td>
      <td scope="row">3.00 <a href="#gpu-detail">*</a></td>
    </tr>
    <tr>
      <td class="queue" scope="row"><code>dev</code></td>
      <td scope="row">1 hour</td>
      <td scope="row">2</td>
      <td scope="row">16</td>
      <td scope="row">25</td>
      <td scope="row">6GB</td>
      <td scope="row">246GB</td>
      <td scope="row">0.00</td>
    </tr>
  </tbody>
</table>

<p style="font-size:90%;"><a name="gpu-detail">*</a> GPU charge rate = number of cores + 2 * number of GPU devices.</p>
