<table class="table" style="font-weight:normal;">
  <thead>
    <tr>
      <th scope="col">Cores/node</th>
      <th scope="col">RAM/node</th>
      <th scope="col">Nodes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">20</th>
      <th scope="row">128GB</th>
      <th scope="row">195</th>
    </tr>
    <tr>
      <th scope="row">28</th>
      <th scope="row">256GB</th>
      <th scope="row">25</th>
    </tr>
    <tr>
      <th scope="row">40</th>
      <th scope="row">384GB</th>
      <th scope="row">80</th>
    </tr>
    <tr>
      <th scope="row">16</th>
      <th scope="row">1TB</th>
      <th scope="row">5</th>
    </tr>
    <tr>
      <th scope="row">28+8 K80 GPUs</th>
      <th scope="row">256GB</th>
      <th scope="row">8</th>
    </tr>
    <tr>
      <th scope="row">28+4 P100 GPUs</th>
      <th scope="row">256GB</th>
      <th scope="row">4</th>
    </tr>
    <tr>
      <th scope="row">28+4 V100 GPUs</th>
      <th scope="row">256GB</th>
      <th scope="row">1</th>
    </tr>
    <tr>
      <th scope="row">40+10 RTX2080 GPUs</th>
      <th scope="row">384GB</th>
      <th scope="row">1</th>
    </tr>
    <tr>
      <th scope="row">64 Knight's Landing</th>
      <th scope="row">196GB</th>
      <th scope="row">8</th>
    </tr>
  </tbody>
</table>