<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Module</th>
      <th scope="col">Version</th>
      <th scope="col">Tag</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
  {{ $urlPre := "https://staging.rc.virginia.edu" }}
  {{ $gistJ := getJSON $urlPre "/data/rivanna-software.json" }}
  {{ range first 500 $gistJ }}
      <tr>
        <td>{{ .Module }}</td>
        <td>{{ .Version }}</td>
        <td>{{ .Tag }}</td>
        <td>{{ .Description }}</td>
      </tr>
  {{ end }}
  </tbody>
</table>

