<table class="table">
  <thead>
    <tr>
      <th>Type</th>
      <th>Specs</th>
      <th>Cost</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="font-weight:bold;">Mini</td>
      <td>2 cores / 2GB mem</td>
      <td>$4/month</td>
    </tr>
    <tr>
      <td style="font-weight:bold;">Small</td>
      <td>4 cores / 16GB mem</td>
      <td>$12/month</td>
    </tr>
    <tr>
      <td style="font-weight:bold;">Medium</td>
      <td>8 cores / 32GB mem</td>
      <td>$48/month</td>
    </tr>
    <tr>
      <td style="font-weight:bold;">Large</td>
      <td>16 cores / 64GB mem</td>
      <td>$96/month</td>
    </tr>
    <tr>
      <td style="font-weight:bold;">Xlarge</td>
      <td>16 cores / 124GB mem</td>
      <td>$176/month</td>
    </tr>
  </tbody>
</table>
