{{ range .Site.Data.studentproject.entries}}
    <hr size="4px" />   
    <div class="flex-container">
        <div style="flex: 1;">
            <p> <strong style="font-size: 1.1rem;"> Student: </strong>{{ .name }} </p>
            <p> <strong style="font-size: 1.1rem;"> Project Description: </strong>{{ .projectdesc }} </p>  
            <a href="{{ .imagepath }}" download style="margin-top: 0.5rem;"> <strong> (Download Poster) </strong>  </a>
        </div>
        <div style="flex: 1; display: flex; flex-direction: column; align-items: center;">
            <strong style="text-align: center; font-size: 1.1rem; margin-bottom: 1rem;"> Poster </strong>
            <img class="zoomImage" style="padding: 0.5rem; max-width: 100%; height: auto; cursor: zoom-in;" src="{{ .imagepath }}" onclick="openImage(this)"/>
        </div>
    </div>
{{ end }}

<!-- The Zoomed in Image -->
<div id="myModal" class="modal">
  <span class="close" onclick="closeImage()">&times;</span>
  <img class="modal-content" id="modalImg">
</div>

<style>

    .flex-container {
        display: flex;
    }

    @media (max-width: 990px) {
        .flex-container {
            display: block; /* Change to block layout for screens <= 990px */
        }
    }


    /* Modal styles */
    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        padding-top: 50px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.9);
    }
    .modal-content {
        margin: auto;
        display: block;
        max-width: 90%;
        max-height: 80vh; /* Adjust as needed */
    }
    .close {
        position: absolute;
        top: 1vh;
        right: 2vw;
        color: #f1f1f1;
        font-size: 3vw;
        font-weight: bold;
        transition: 0.3s;
        cursor: pointer;
    }
    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }
</style>

<script>
    function openImage(img) {
        var modal = document.getElementById("myModal");
        var modalImg = document.getElementById("modalImg");
        modal.style.display = "block";
        modalImg.src = img.src;
        document.body.style.overflow = "hidden"; /* Disable body scrolling */
    }

    function closeImage() {
        var modal = document.getElementById("myModal");
        modal.style.display = "none";
        document.body.style.overflow = ""; /* Enable body scrolling */
    }
</script>