<div style="width:100%;">
<table class="table table-hover table-striped" style="width: 100%; table-layout: fixed;">
  <thead class="thead-inverse">
    <tr>
      <th scope="row">DATE</th>
      <th style="text-align:left;">WORKSHOP</th>
      <th>INSTRUCTOR</th>
    </tr>
  </thead>
  <tbody>
  {{ $workshops := getJSON "https://education.cadre.virginia.edu/api/workshop/upcoming" }}
  {{ range $workshops }}
    {{ $w := . }}
    <tr>
      <td>{{ dateFormat "January 02, 2006" $w.next_session.date_time}}</td>
      <td><a href="https://education.cadre.virginia.edu/#/workshop/{{ $w.id }}" target="_new">{{ $w.title }}</a></td>
      <td>{{ $w.instructor.display_name }}</td>
    </tr>
  {{ end }}
  </tbody>
</table>
</div>
