<div style="width:100%;">
  <table class="table table-hover table-striped" style="width:100%;table-layout:fixed;">
  <thead class="thead-inverse">
   <tr>
    <th scope="row">DATE</th>
    <th style="width:50%;text-align:left;">WORKSHOP</th>
    <th>INSTRUCTOR</th>
   </tr>
  </thead>
{{- $counter:=0 -}}
{{- $url := $.Site.Params.eventsUrl -}}
{{- $sep := dict "delimiter" "," -}}
{{ with resources.Get $url -}}
  {{- range $i, $r := (.Content | transform.Unmarshal $sep) -}}
    {{- $scheduled_date:=replace (index $r 1) "/" "-" -}}
    {{- $last_date:=last 1 (split $scheduled_date ",") -}}
    {{- $last_date:=time (index $last_date 0) -}}
    {{- if $last_date.After (now.AddDate 0 0 -1) -}}
      {{ $counter = add $counter 1}}
    {{- end -}}  
  {{- end -}}
{{- end -}}
{{- if ( lt $counter 1 ) -}}
  <tbody>
    <tr>
      <td colspan="3">There are currently no training events scheduled. Please check back soon!</td>
    </tr>
  </tbody>
{{- else -}}
  <tbody>
    {{- $counter2:=0 -}}
    {{- $sep := dict "delimiter" "," -}}
    {{ with resources.Get $url -}}
      {{- range $i, $r := (.Content | transform.Unmarshal $sep) -}}
        {{- $title:=index $r 0 -}}
        {{- $scheduled_date:=replace (index $r 1) "/" "-" -}}
        {{- $link:=index $r 2 -}}
        {{- $instructor:=index $r 3 -}}
        {{- $last_date:=last 1 (split $scheduled_date ",") -}}
        {{- $last_date:=time (index $last_date 0) -}}
        {{- if $last_date.After (now.AddDate 0 0 -1) -}}
          <tr>
            <td>{{ range (split $scheduled_date ",") }} {{ (time .).Format "Jan 2, 2006" }}<br> {{ end }}</td>
            {{- if ne $link "" -}}
              <td><a href="{{ $link }}" target="_blank">{{ $title }}</a></td>
            {{- else -}}
              <td>{{ $title }}</td>
            {{- end -}}
            <td>{{ $instructor }}</td>
          </tr>
          {{ $counter2 = add $counter2 1}}
        {{- end -}}  
      {{- end -}}
    {{- end -}}
  </tbody>
{{- end -}}
</table>
</div>
<div style="width:100%;height:2rem;"></div>
