<!DOCTYPE html>
<html id="search" lang="{{ .Lang }}">

  <head>
    {{ partial "head-meta.html" . }}

    <base href="{{ .Permalink }}">
    <link rel="canonical" href="{{ .Permalink }}">
    <link rel="Shortcut Icon" href="{{ .Site.BaseURL }}images/favicon.ico" type="image/x-icon" />
    <meta type="{{ .Type }}" />

    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

    {{ "<!-- combined, minified CSS -->" | safeHTML }}
    <link href="{{ .Site.BaseURL }}css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    {{ partial "head-custom.html" . }}
    <script src="/js/search-modal.js"></script>

    <style>
    .card-group .card a {
      text-decoration:none;
    }
    </style>

  </head>

  <body style="min-height:1000px;">

    {{ partial "menu-home.html" . }}

    {{ partial "site-header.html" . }}

	<section id="main-content" class="main-content" style="margin-top:20px;">

    <div class="container">
      <div class="row">
        <div class="col-sm-8 blog-main">

        <h2>Search Results</h2>
<script>
  (function() {
    var cx = '009070394138504404541:6d4gc6cb7oi';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:searchresults-only linktarget="_parent"></gcse:searchresults-only>

        </div> {{ "<!-- /.blog-main -->" | safeHTML }}

        {{ partial "sidebar.html" . }}

      </div> {{ "<!-- /.row -->" | safeHTML }}
    </div> {{ "<!-- /.container -->" | safeHTML }}
	
	</section>
	
    {{ partial "footer.html" . }}

  </body>

</html>

{{- /* vim: set ts=2 sw=2 et: */}}
