{{ define "title" }}{{ .Title | markdownify }} | {{ .Site.Title }}{{ end }}
{{ define "head-extra" }}<style>
    .card-group .card a {
        text-decoration:none;
    }
</style>{{end}}
{{ define "main" }}

<h2>Search Results</h2>
<script>
  (function() {
    var cx = '009070394138504404541:6d4gc6cb7oi';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:searchresults-only linktarget="_parent"></gcse:searchresults-only>

{{ end }}

{{- /* vim: set ts=2 sw=2 et: */}}
